<%- include('partials/header') %>
<div style="padding: 50px 5%; text-align: center;">
    <h1 class="gold">Elite Games</h1>
    <p>Hand-picked experiences for our members.</p>
</div>
<%- include('partials/footer') %>
